[defaults]
inventory = ./inventory
host_key_checking = False
interpreter_python = auto
stdout_callback = yaml
retry_files_enabled = False
deprecation_warnings = False
forks = 20

[privilege_escalation]
become = True
become_ask_pass = False
become_method = sudo
